@charset "UTF-8";
.homecontainer{
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:center;
}
.look{
	margin-top: 80px;
}
.header{
	height: 60px;
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
}
.newheader{
	height: 60px;
	padding-top: 20px;
}